@import url('https://fonts.googleapis.com/css?family=Nunito');
*{
  box-sizing: border-box;
  padding: 0;
}
.headerlogo{
 
    background: #76D7C4 ;
}
.headerlogo img{
    width: 30%;
}
.header a{
    color: white;
}

.header{
    font-size: 25px;
    font-family: 'Nunito', sans-serif;
    background: #A3E4D7;
    color: #f7f7f7;
    border-style: solid;
    border-color: #48C9B0;
    border-top-width: 1px;
    border-bottom-width: 0;
    border-left-width: 0px;
    border-right-width: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 70px;
    padding: 15px;
}
body{
    margin-top: 0;
    margin-left: 5px;
    background: #D1F2EB  ;
}
.header img{
    max-width: 70%;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    border-color: black;
    border-style: solid;
}
.contenedor{
    background: #A3E4D7;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top-width: 1px;
    border-bottom:1px;
    border-left: 1px;
    border-right: 1px;
    border-color: #48C9B0;
    border-style: solid;
    margin: 0;
    
} 
.footer{
    background: #A3E4D7;
    border-color: #48C9B0;
  
}

.logo a{
    color: #f7f7f7;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 50%;
    border-color: #48C9B0;
    font-size: 300%;
    background: #76D7C4
    
}
@media screen and (max-width: 740px){
	.logo a {
		font-size: 200%;
	} 
}
.box{
    font-family: 'Nunito', sans-serif;
    margin-right: 20px;
    font-size: 30px;
    color: black;
    border-style: solid;
    border-color: #D1F2EB;
    border-width: 0.1px 0px;
    margin-top:0px;
    margin-bottom: 10px;
}
.box p{
    margin-top: 0.1px;
    color: darkgray;
    text-shadow: 1px 1px black;
    font-size: 19px;
    margin-right: 8px;
}
.box p1{
    margin-top: 0.1px;
    color: darkgray;
    text-shadow: 1px 1px black;
    font-size: 20px;
    margin-right: 8px;
    padding: 100px;
}
.col-xs-6{
    margin-top: 0px;
}
.box p1 img{
    margin-top: 50px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    
    border-style: solid;
    border-width: 10px;
    border-color: #48C9B0;
    border-radius: 10%;
}

.box .iwachu{
    font-size: 30px;
    
}
.box p3{
    margin-top: 0px;
    color: darkgray;
    text-shadow: 1px 1px black;
    font-size: 20px;
    margin-right: 8px;
}
.box a{
        width: 100px;
        color: white;
        text-decoration: none;
        padding: 5px;
        margin-top: 2px;
        border: 3px solid black;
        font-size: 20px;
        background: black;
    
}

.box a:hover{
    background: #333;
}

.final{
    display: flex;
    
}


.header3 img{
    max-width: 80%;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    background: wheat;
    
}

.galery{

    border: 3px rgb(165, 7, 7);
   
}


.primeras3{

    display: flex;
	
    width: 100%;
    

}

.almedio{
 padding-left: 18%;


}
.segundas3{

    display: flex;
	
    width: 100%;
    

}