@import url('https://fonts.googleapis.com/css?family=Nunito');
*{
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
.headerlogo{
    background: #76D7C4 ;
}

.headerlogo img{
    width: 20%;
    cursor: pointer;
}
h1{
    font-size: 20px;
    text-align: center;
    text-shadow: 2px 2px darkgray;
}
#lul{
    max-width: 700px;
    min-width: 170px;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 7px;
    border-style: solid;
    border-color: black;
    background: #6e529d;
	background: -moz-linear-gradient(-45deg, #6e529d 0%, #d97b93 100%);
	background: -webkit-gradient (linear, left top, right bottom, color-stop(0%,#6e529d), color-stop(100%,#d97b93));
	background: -webkit-linear-gradient(-45deg, #6e529d 0%,#d97b93 100%);
	background: -o-linear-gradient(-45deg, #6e529d 0%,#d97b93 100%);
	background: -ms-linear-gradient(-45deg, #6e529d 0%,#d97b93 100%);
	background: linear-gradient(135deg, #6e529d 0%,#d97b93 100%);
}

body{
    background: #D1F2EB  ;
    margin-top: 0;
    
}

button{
    background: crimson;
    color: #fff;
    font-size: 30px;
    border: 1px;
    cursor: pointer;
    border-radius: 3px;
}
button:hover{
    background: #df3155;
}
.footer{
    font-size:30px;
    margin-top: 5px;
    height: 100%;
    font-family: 'Nunito', sans-serif;
    color: black;
    text-shadow: 2px 2px darkgray;
    background: #76D7C4;
    border-radius: 7px;
}
label{
    font-size:18px;
}
footer .contenedor{
    background: D1F2EB;
   height: 50px;
}
input{
    padding: 5px;
    border-radius: 3px;
    border: 1px solid grey;
    font-size: 14px;
    text-align: center;
}
select{
    font-size: 16px;
    border-radius: 3px;
}

