*{
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
.headerlogo{
    background: #76D7C4 ;
}

.headerlogo img{
    width: 30%;
    cursor: pointer;
}
body{
    background: #D1F2EB  ;
    margin-top: 0;
    margin-bottom: 0;
    
}
h1{
    text-align: center;
    text-shadow: 2px 2px darkgray;
}
footer .contenedor{
    background: D1F2EB;
   height: 50px;
}
.footer{
    font-size:30px;
    margin-top: 5px;
    height: 100%;
    font-family: 'Nunito', sans-serif;
    color: black;
    text-shadow: 2px 2px darkgray;
    
    background: #76D7C4;
    border-radius: 7px;
}


#galeria{
    width: 60%;  
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 7px;
    border-style: solid;
    border-color: black;
    background: #6e529d;
	background: -moz-linear-gradient(-45deg, #6e529d 0%, #d97b93 100%);
	background: -webkit-gradient (linear, left top, right bottom, color-stop(0%,#6e529d), color-stop(100%,#d97b93));
	background: -webkit-linear-gradient(-45deg, #6e529d 0%,#d97b93 100%);
	background: -o-linear-gradient(-45deg, #6e529d 0%,#d97b93 100%);
	background: -ms-linear-gradient(-45deg, #6e529d 0%,#d97b93 100%);
    background: linear-gradient(135deg, #6e529d 0%,#d97b93 100%);
}

#galeria img{
    width: 20%;
    border: 3px solid black;
    border-radius: 5px;
}
h2{
    margin-top: 0px;
}
.titu{
    font-size: 25px;
    font: bold;
    text-shadow: 2px 2px black;
    color: #fff;
}
.nose{
    margin-left: 25%;
    width: 50%;
    justify-content: center;    
    font-size: 20px;
    color: #fff;
}
