
/*==========================*/

.theme-mi-slider .nivoSlider{
	position:relative;
}

.theme-mi-slider .nivoSlider a {
	border:0;
	display:block;
}

/* Nivo Pagination =========================*/

.nivo-controlNav{
	display: flex;
	justify-content: center;
}

.theme-mi-slider .nivo-control{
	display: block;
	width: 15px;
	height: 18px;
	border-radius: 50%;
	background: #545454;
	margin: 3px;
	text-indent: -9999px
}

.theme-mi-slider .nivo-control:hover{
	background: #1B1B1B;
}

.theme-mi-slider .active{
	background: #1B1B1B;
}

/* Nivo direction ============*/
.nivo-directionNav a{
	display: block;
	width: 30px;
	height: 30px;
}
@media screen and (max-width: 650px){
	.nivo-directionNav a {
		width: 15px;
		height: 15px;
	} 
}
.nivo-directionNav .nivo-prevNav{
	background-image: url(../imagenes/icons/circle-left.png);
	background-size: cover;
	text-indent: -9999px;
	left: 16px;
}
@media screen and (max-width: 600px){
	.nivo-directionNav .nivo-prevNav {
		left: 5px;
	} 
}

.nivo-directionNav .nivo-nextNav{
	background-image: url(../imagenes/icons/circle-right.png);
	background-size: cover;
	text-indent: -9999px;
	right: 16px;
}

@media screen and (max-width: 600px){
	.nivo-directionNav .nivo-nextNav {
		right: 5px;
	} 
}

/*Nivo Caption*/

.nivo-html-caption{
	position: absolute;
}