
<html lang="en">
    {% load pwa %}
    {% load static %}
<head>
        {% progressive_web_app_meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/css/nivo-slider.css">
	<link rel="stylesheet" href="static/css/mi-slider.css">
    <link rel="stylesheet" href="static/css/flexboxgrid.min.css">
    <link rel="stylesheet" href="static/css/estilos.css">
    <link rel="stylesheet" href="static/css/fontello.css">
    <link rel="stylesheet" href="static/css/galeria.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" type="text/javascript"></script>
    <script src="static/js/jquery-3.3.1.min.js"type="text/javascript"></script>
	<script src="static/js/jquery.nivo.slider.js"type="text/javascript"></script>
    <script src="static/js/funciones.js"type="text/javascript"></script>
    <title>Document</title>
    
   
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/push.js/0.0.11/push.min.js"></script>
   <script> 
    Push.create('bienvenido', {
        body: 'hecha un vistazo a las nuevas mascotas',
        icon: 'static/imagenes/logo.png',
        timeout: 8000,               // Timeout before notification closes automatically.
        onClick: function() {
            // Callback for when the notification is clicked. 
            this.close(); //Cierra la notificación
        }  
    });
   </script>  
        

    <div class="contenedor">
        <div class="row">
            <div class="col-xs-12">
                <div class="headerlogo center-xs">
                    <img src="static/imagenes/logo.png" alt="" srcset="">
                </div>
                <br> 
            </div>
            <div class="col-xs-12 center-xs">
                <div class="header">
                <h2>
                        <a href="#"  style="text-decoration:none; ">Inicio</a>
                    
                    
                </h2>
            </div>
            <div class="header">
                <h2>
                    <a href="/cliente/ingresar/" style="text-decoration:none;">Iniciar Sesión</a>
                </h2>
            </div>
            <div class="header">
                <h2>
                    <a href="/cliente/form/" style="text-decoration:none;">Contacto</a>
                </h2>
                
            </div>
            <div class="header">
                <h2>
                    <a href="/perros2/" style="text-decoration:none;">Mostrar perros</a>
                    
                </h2>
                
            </div>
            <div class="slider-wrapper theme-mi-slider">
                    <div id="slider" class="nivoSlider">     
                        <img src="static/imagenes/Luna.jpg"  alt="" title="#htmlcaption1" />    
                        <img src="static/imagenes/Maya.jpg" alt="" title="#htmlcaption2"  >    
                        <img src="static/imagenes/Wifi.jpg" alt="" title="#htmlcaption3" >     
                        <img src="static/imagenes/rescate.jpg" alt="" title="#htmlcaption3"  >     
                    </div> 
                    <div id="htmlcaption1" class="nivo-html-caption">     
                        <h1>Sean Bienvenidos</h1>
                    </div>
                    <div id="htmlcaption2" class="nivo-html-caption">     
                        <h1>Acerca de Nosotros</h1>
                    </div>
                    <div id="htmlcaption3" class="nivo-html-caption">     
                        <h1>Gracias por visitar</h1>
                    </div>
                </div>
                
                    <div class="logo">
                   <a class="icon-instagram" href="#"></a>
                   <a class="icon-twitter" href="#"></a>
                   <a class="icon-instagram" href="#"></a>
                   <a class="icon-mail" href="#"></a>
                </div>
                   <br><br>
    </div>    
    </div>
    </div>
    </div>
    <div class="row end-xs">
        <div class="col-xs-12 end-xs">
            <div class="box">
                    <h2>
                    Rescate
                    <br>
                    <p>
                        Etapa uno
                        <br>
                <hr class="lol">                    </p>
                    <p1>
                        Rescatamos perros en situación
                        de peligro y/o abandono. Los rehabilitamos
                        y los preparamos para buscarles un hogar.
                        <br>
                        <hr>
                        <div class="header3">
                             <img src="static/imagenes/rescate.jpg" alt="" srcset="">
                        </div>
                             <br>
                        <hr>
                         </div>

                        </div>

                        </div>


    <div class="row start-xs">
     <div class="col-xs-12 start-xs">
        <div class="box">            
                        <div class="header3">
                            <img src="static/imagenes/crowfunding.jpg" alt="" srcset="">
                        </div>
                 </p1>
                <br>
                
                <div class="iwachu">
                        
                    Crowdfunding
                
                    <br>
                </div>
                <p>
                    Financiamiento
                    <br>
                    <hr>
                       
                </p>
                <p3>
                           Sigue nuestras redes sociales para informarte acerca de las diversas
                           campañas y actividades que realizaremos para obtener
                           financiamiento para seguir ayudando.
                       <br>
                       <br>
                      <a href="#">¡Campañas!</a>
                </p3>
                <br>
    
        
            </div>

        </div>

        </div>

        
                <div class="galery">
                    <div class="col-xs-12 center-xs">
                            <a href="galeria.html" style="text-decoration:none;">
                            <div class="primeras3">
                                <DIV class="center-xs">
                                <img src="static/imagenes/Oso.jpg" alt="Planeta Marte" width="20%"> 
                                <img src="static/imagenes/Chocolate.jpg" alt="Planeta Marte" width="20%">
                                <img src="static/imagenes/Bigotes.jpg" alt="Planeta Marte" width="20%" height="85%">
                                </DIV>
                             </div>
                                 <div class="almedio ">
                                    <div class="start-xs">
                                    <img src="static/imagenes/Maya.jpg" alt="Planeta Marte"width="25%">
                                    </div> 
                                 </div>
                                
                                 <div class="segundas3">
                                <div class="center-xs">
                                    <img src="static/imagenes/Wifi.jpg" alt="Planeta Marte"width="20%" height="75%">
                                    <img src="static/imagenes/Pexel.jpg" alt="Planeta Marte"width="20%" height="85%">
                                    <img src="static/imagenes/Luna.jpg" alt="Planeta Marte" width="20%">
                                </div>
                                </div>
                            </a>
                    </div>
                </div>




            </body>
    <footer>
            <div class="footer">
                    <div class="row">
                            <div class="col-xs-12 star-xs">
                           <div class="final">    
                           <p>Mis Perris     </p> 
                            <p>
                                    <a href="http://jigsaw.w3.org/css-validator/check/referer">
                                        <img style="border:0;width:88px;height:31px"
                                            src="http://jigsaw.w3.org/css-validator/images/vcss"
                                            alt="¡CSS Válido!" />
                                    </a>
                                </p>
                                       
                                <p>
                                        <a href="http://jigsaw.w3.org/css-validator/check/referer">
                                            <img style="border:0;width:88px;height:31px"
                                                src="http://jigsaw.w3.org/css-validator/images/vcss-blue"
                                                alt="¡CSS Válido!" />
                                            </a>
                                        </p>
                                    
                        </div>
                        </div>
                    </div>
                </div>
                
    </footer>
</html>