{% extends 'posts/base.html' %}
{% block content %}
{% load static %}
<br><br><br>
<div class="Perros">
	{% for result in results %}
		<h3>{{result.titulo}}</h3>
		<br>
		Name:{{result.Raza}}
		<br>
		<p id="{{result.id}}">
			{{result.Descripcion}}
		</p>
		<hr>
	{% endfor %}
</div>
{% endblock %}