{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/flexboxgrid.min.css">
    <link rel="stylesheet" href="{% static 'css/form.css' %}" type="text/css">
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="css/js/region.js"></script>
    <script src="{% static 'css/js/validarRUT.js' %}"></script>
    <title>Document</title>
</head>
<body>
        <div class="row">
                <div class="col-xs-12">
                    <div class="headerlogo center-xs">
                        <a href="index.html">
                            <img src="{% static "imagenes/logo.png" %}" alt=""/> 
                        </a>
                        </div>
                    <br> 
                </div>
            </div>
            <h1>
                ¡Ingresa tus datos para poder contactarnos contigo!
            </h1>
            <div class="row">
                    <div class="col-xs-12">
                        <div class="center-xs">   
                            <form name="formDatos" method="POST" action="#"><br>
                                <div class="contenedor" id="lul">
                        <label>
                            Run
                        </label>
                        <input type="text" placeholder="Ingrese el rut" id="rut" oninput="checkRut(this)" required>
                        <br>
                        <label>
                            Nombre completo
                        </label>
                        <input type="text" placeholder="Ingrese el nombre"  title="Solo letras :)"
                         required pattern="[A-Za-z]+"> <br>
                        <label>
                            Fecha de nacimiento
                        </label>
                        <input type="date" required  max="2001-01-01" title="La fecha debe ser menor a 2001"><br>
                        <label>
                            Correo electronico
                        </label>
                        <input type="email" placeholder="Ingrese el correo" required><br>
                        <label>
                            Telefono de contacto
                        </label>
                        <input type="number" placeholder="Ingrese el numero" required><bR>
                            <label>
                                Region
                            </label>
                            <select name="region" required>
                                <option selected>I-. Tarapacá</option>
                                <option>II-. Antofagasta</option>
                                <option>III-. Atacama</option>
                                <option>IV-. Coquimbo</option>
                                <option>V-. Valparaiso</option>
                                <option>VI-. O'Higgins</option>
                                <option>VII-. Maule</option>
                                <option>VIII-. Biobío</option>
                                <option>IX-. La Araucanía</option>
                                <option>X-. Los lagos</option>
                                <option>XI-. Aysén</option>
                                <option>XII-. Magallanes</option>
                                <option>Region Metropolitana</option>
                                <option>XIV-. Los Ríos</option>
                                <option>XV-. Arica y parinacota</option>
                            </select>
                            <bR>
                                <label>Ciudad</label>
                                <select name="ciudad" required><br>
                                <option selected>Santiago</option>
                                <option selected>Concepción</option>
                                <option selected>Valparaiso</option>
                                <option selected>Serena</option>
                                <option selected>Antofagasta</option>
                                <option selected>Temuco</option>
                                <option selected>Rancagua</option>
                                <option selected>Iquique</option>
                                <option selected>Talca</option>
                                <option selected>Arica</option>
                                <option selected>Puerto Montt</option>
                                <option selected>Chillan</option>
                                <option selected>Calama</option>
                                <option selected>Copiapo</option>
                                <option selected>Osorno</option>
                                <option selected>Quillota</option>
                                <option selected>Valdivia</option>
                                <option selected>Punta Arenas</option>
                                <option selected>San Antonio</option>
                                <option selected>Curico</option>
                                <option selected>Ovalle</option>
                                <option selected>Linares</option>
                                <option selected>Los andes</option>
                                <option selected>Melipilla</option>
                                <option selected>San Felipe</option>
                                </select><br>
                                <label>
                                        Tipo de vivienda
                                    </label>
                                <select name="Tipo de vivienda" required><br>
                                    <option selected>Casa con patio grande</option>
                                    <option>Casa con patio pequeño</option>
                                    <option>Casa sin patio</option>
                                    <option>Departamento</option>
                                </select><br>
                
                                <button type="submit">Registrar</button>
                                <br>
                    </form>
                    </div>
                </div>
                <br>
</body>
<footer>
    <div class="contenedor">
                <div class="row">
                        <div class="col-xs-12 center-xs">
                            <div class="footer">
                        Mis Perris
                    </div>
                    </div>
                </div>
            </div>
</html>