
{% block encabezado %}
	<h1>El usuario no esta activo</h1>
{% endblock %}
{% block content %}
	<p>Contactarse con el administrador, para resolver el problema.</p>
	<p>Dirigase a pestaña de inicio en el apartado de contacto</p> <br>
	<a href="/cliente/home/" style="text-decoration:none;">Home</a> 
{% endblock %}