
{% block encabezado %}
	<h1>Error de acceso</h1>
{% endblock %}
{% block content %}
	<p>El usuario y la contraseña no coinciden o no existen.</p>
	<p>Dirigase a iniciar secion y reingrese la contraseña o registrece</p>
	<a href="/cliente/ingresar/" style="text-decoration:none;">Iniciar Sesión</a> <br>
	<a href="/cliente/home/" style="text-decoration:none;">Home</a>
{% endblock %}