
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="{% static 'css/estilos.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/ingresar.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/flexboxgrid.min.css' %}" type="text/css">
	<title>::Centro de Recuperacion Animal Mis Perris ::</title>
</head>
<body>

	<header>
		<div class="contenedor">
			<div class="row">
				<div class="col-xs-12">
						<img src="{% static "imagenes/logo.png" %}" alt=""/>  
				</div>
				</div>
			</div>
		</div>
	</header>
	<h1>Registrate</h1>
    {% block content %}
	<form id='formulario' method='post' action=''>{% csrf_token %}
		<table>{{formulario}}</table>
		<p><input type='submit' value='Registrar'/></p>
	</form>
    {% endblock %}
</body>
</html>

	