
{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="{% static 'css/estilos.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/ingresar.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/flexboxgrid.min.css' %}" type="text/css">
	<title>::Centro de Recuperacion Animal Mis Perris ::</title>
</head>
<body>

	<header>
		<div class="contenedor">
			<div class="row">
				<div class="col-xs-12">
						<img src="{% static "imagenes/logo.png" %}" alt=""/>  
				</div>
				</div>
			</div>
		</div>
	</header>
{% block css %}
  <style>
	img { width:100px; }
	.contenedor img {width: 25%;}
  </style>
{% endblock %}


{% block encabezado %}
  <h1>Nuestros perros</h1>
{% endblock %}

{% block contenido %}

<ul>
		<h2>Mascotas Disponibles</h2>
	
		{% for dato in datos %}
			{% if dato.estado == "Disponible" %}
				<li>
				
					<a href='{% url "detalle_perro" dato.id %}'>{{dato.titulo}} {{dato.estado}}</a> 
					<img id="prueba" src='{{MEDIA_URL}}{{dato.imagen}}'>
				
				</li>
			{% endif %}
		{% empty %}
		<li>Aún no hay perros registradas</li>
		{% endfor %}
</ul>
{% endblock %}