

{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="{% static 'css/estilos.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/ingresar.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/flexboxgrid.min.css' %}" type="text/css">
	<title>::Centro de Recuperacion Animal Mis Perris ::</title>
</head>
<body>

	<header>
		<div class="contenedor">
			<div class="row">
				<div class="col-xs-12">
						<img src="{% static "imagenes/logo.png" %}" alt=""/>  
				</div>
				</div>
			</div>
		</div>
	</header>
   {% block content %}
	<h2>Nombre Perro</h2>
	<p>{{perro.titulo}}</p>
{% endblock %}

{% block contenido %}
	<div id='ingredientes'>
		<h2>Raza</h2>
		<p>{{perro.Raza}}</p>
	</div>
	<div id='preparacion'>
		<h2>Descripcion</h2>
		<p>{{perro.Descripcion}}</p>
	</div>
	<div id='referencia'>
			{% block css %}
			<style>
			  img { width:200px; }
			  .contenedor img {width: 25%;}
			</style>

		<img src='{{MEDIA_URL}}{{perro.imagen}}'>
	</div>
	<div id='estado'>
			<h2>Estado</h2>
			<p>{{perro.estado}}</p>
		</div>
		{% endblock %}
	<footer>
	  <p>Registrado {{ perro.tiempo_registro|date:'SHORT_DATETIME_FORMAT' }} por {{perro.usuario}}</p>
	</footer>
{% endblock %}